.gallery
  border 1px dashed #ccc
  border-radius 10px
  margin 20px auto
  padding 10px
  position relative
  width 50%

  @media (max-width 425px)
    margin 0
    padding 0
    width 100%

.main-image
  height 400px
  margin 0 auto
  max-height 400px
  max-width 400px

  &__img
    height 100%
    object-fit cover
    width 100%

.other-images
  display flex
  flex-wrap nowrap
  justify-content left
  overflow scroll hidden
  -webkit-overflow-scrolling touch
  max-width 100%

  &__img
    height 150px
    object-fit cover
    width 150px

.drag-active
  transform scale(1.1, 1.1)

.draggable
  height 150px
  position relative
  margin 3px
  transform scale(1, 1)
  width 150px
/*
  align-items center
  background-color #fff
  border 2px solid black
  border-radius 5px
  cursor pointer
  display flex
  justify-content center
  font-size 14px
  height 50px
  width 5em
  z-index 999

.droppable
  align-items center
  border 3px dashed #ccc
  border-radius 10px
  color #999
  height 100px
  display flex
  justify-content center
  position absolute
  right 20px
  top 20px
  width 100px*/

.zone
  border 2px dashed #ccc
  border-radius 10px
  height 500px
  margin 0 auto
  padding 20px
  position relative
  width 500px
